boto3==1.21.25
botocore==1.24.25
cachetools==5.0.0
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.0.4
colorama==0.4.4
configparser==3.8.1
contextlib2==21.6.0
Flask==2.0.3
future==0.18.2
google-api-core==2.7.1
google-api-python-client==2.42.0
google-auth==2.6.2
google-auth-httplib2==0.1.0
googleapis-common-protos==1.56.0
grpcio==1.45.0
gunicorn==20.1.0
httplib2==0.20.4
idna==3.3
ImageHash==4.2.1
itsdangerous==2.1.2
Jinja2==3.1.0
jmespath==1.0.0
jsonschema==2.6.0
markdown-it-py==3.0.0
MarkupSafe==2.1.1
mdurl==0.1.2
numpy==1.22.3
oauth2client==4.1.3
packaging==23.2
Pillow==9.0.1
protobuf==3.20.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
Pygments==2.16.1
pyparsing==3.0.7
python-dateutil==2.8.2
python-dotenv==0.19.2
python-rapidjson==1.12
PyWavelets==1.3.0
PyYAML==6.0.1
requests==2.27.1
rich==13.4.2
rsa==4.8
s3transfer==0.5.2
schema==0.7.5
scipy==1.8.0
six==1.16.0
tqdm==4.64.1
tritonclient==2.34.0
uritemplate==4.1.1
urllib3==1.26.9
Werkzeug==2.0.3
